<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детективчик</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="game-body">

    <div id="game-screen">
        <!-- 1. Фон -->
        <div id="bg-layer"></div>

        <!-- 2. Персонаж -->
        <img id="char-img" src="" alt="">

        <div id="UI-menu">
            <button type="button" id="rules-btn" title="Правила">
                <img src="{{ url_for('static', filename='images/icons/rules.png') }}" alt="?">
            </button> 
            <button type="button" id="mute-btn" title="Звук">
                <img src="{{ url_for('static', filename='images/icons/sound_on.png') }}" alt="S">
            </button> 
            <button type="button" id="exit-btn" title="Выход">
                <img src="{{ url_for('static', filename='images/icons/exit.png') }}" alt="X">
            </button> 
        </div>

        <div id="search-timer-block" style="display: none; position: absolute; top: 20px; left: 50%; transform: translateX(-50%); font-size: 36px; color: red; text-shadow: 2px 2px 0 #000; z-index: 10000; font-family: 'Arcade Gamer', sans-serif;">
            <span id="game-timer-display">40:00</span>
            <span id="game-penalty-popup" style="display: none; color: #ff3333; margin-left: 20px;">-5:00 MIN</span>
        </div>
        
        <!-- 4. Текст (только тени, как ты просила) -->
        <div id="text-layer">
            <p id="main-dialogue"></p>
        </div>

        <!-- 5. Слой для клика (чтобы листать текст) -->
        <div id="click-overlay"></div>
        
        <!-- 6. Слой для кнопок выбора (появятся в конце) -->
        <div id="choices-overlay"></div>
    </div>

    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>